# === PYTHON ===
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/
pip-log.txt
*.log

# === NODE ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
*.tsbuildinfo
.vite/
dist/
build/

# === REACT / VITE ===
*.env.local
*.env.*.local
*.env.production
*.env.development
*.env.test
coverage/
*.cache/
.vitepress/
.svelte-kit/
.sass-cache/

# === DOCKER ===
*.tar
docker-compose.override.yml

# === TERRAFORM ===
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*.auto.tfvars
terraform.tfvars

# === GITHUB ACTIONS ===
.github/workflows/*.log
.github/workflows/*-cache/

# === SYSTEM ===
.DS_Store
Thumbs.db

# === VSCODE ===
.vscode/
.history/

# === LOGS & TEMP FILES ===
*.log
*.tmp
*.bak

# === SECRETS & CREDENTIALS ===
*.pem
*.key
*.crt
*.pfx
*.env

# === IDEs ===
.idea/
*.iml
*.swp
*.swo


# ebpf agent

bin/
*.o
*.skel.h
*.pb.go

